# port for AMQP communication
port=5672
# URL of AMQP broker
host=localhost
# usage of ssl true/false
ssl=false
# name of your AMQP account
username=guest
# password of your AMQP account
password=guest
# identifier of needed parser implementation
parser=openmuc
# used virtual amqp host
virtualHost=/
# (Optional) framework identifier
framework=
# (Optional) used amqp exchange
exchange=
# persistence directory used for file buffer
persistenceDirectory=data/amqp/logger
# maximum RAM usage of buffer
maxBufferSize=1024
# maximum file size per buffer file
maxFileSize=5120
# maximum number of files per buffer
maxFileCount=2
# interval in seconds to detect broken connections (heartbeat)
connectionAliveInterval=60
# (Optional) Interval in seconds to wait before deleting the connection and trying to reconnect
reconnectionInterval=
